:root{
    --maincolor: #080C0A;
    --subcolor: #585858;
    --linkcolor: #B4B4B4;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover{
    cursor: url(/asset/orange_circle.svg) 25 25, auto;
}
.submenu a:hover{
    opacity: 0.9;
    filter: blur(1.5px);
    transition: 1s;
}

a{
    text-decoration: none;
}

.comingsoon_thumb{
    a:hover{
        cursor: url(/asset/comingsoon.svg) 25 25, auto;
        transition: 1s;
    }
    .image-thumbnail:hover{
        cursor: url(/asset/comingsoon.svg) 25 25, auto;
        transition: 1s;
    }
}

body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    
}

header{
    width: 20%;
    min-width: 260px;
    height: 100vh;
    border-right: 2px solid #080C0A;
    border-top: 2px solid #080C0A;
    border-bottom: 2px solid #080C0A;
    position: sticky;
    top: 0px;
    
}

.mainlogo{
    margin-left: 23px;
    margin-top: 23px;
    margin-bottom: 65px;
}
.sublogo{
    margin-left: 23px;
    margin-bottom: 12px;
}
.description{
    margin-left: 23px;
    margin-bottom: 30px;
    color: var(--subcolor);
}
.menu{
    display: block;
    
    margin-bottom: 18px;
    line-height: 56px;   
}
.mainmenu{
    font-weight: 700;
    color: var(--maincolor);
    font-size: 18px;
    margin-left: 23px;
    
}
.subcategory{
    font-weight: 700;
    line-height: 60px;
    list-style: none;
    display: block;
    margin-left: 23px;
    margin-bottom: 18px;
    
}
.submenu{
    color: var(--subcolor);
    line-height: 23px;
    list-style-type: none;
    font-weight: 400;
}

.mainmenu > a{
    color: var(--maincolor);
}
hr{
    border: 1px solid #080C0A;
    margin-top: 6px;
    margin-bottom: 6px;
}

content{
    width: 80%;
    padding: 23px;
    overflow-y: hidden;
    position: relative;
}

content img{
    display: block;
    width: 100%;
    height: auto;
}

.image-box{
    width: 100%;
    height: auto;
    margin: 0 auto;

}
.thumbnail{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contents{
    max-width: 100%;
    margin-top: 30px;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.item{
    min-height: auto;
    flex-basis: 200px;
    flex-grow: 1;
    > .projectname{
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 13px;
    }
    > .department{
        font-weight: 700;
        margin-bottom: 10px;
    }
    > .date{
        color: var(--subcolor);
    }
    > .Achievement{
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.myrole-description{
    margin-top: 13px;

}

.contentline{
    border: 1px solid #080C0A;
    margin-bottom: 20px;
    margin-top: 35px;
}
navtop{
    width: 100%;
    position: fixed;
    background-color: #fff;
    height: 57px;
    z-index: 1;
    display: none;
}
nav{
    font-size: 18px;
    width: 100%
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    height: 57px;
    border-bottom: 2px solid #080C0A;
}
nav ul li{
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    padding-left: 60px;
    height: 57px;
}


.subtitle{
    font-size: 18px;
    font-weight: 700;
}

.subtitle-second{
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 35px;
}

.mini-subtitle{
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}
.inspiration-image{
    height: auto;
    display: flex;
    margin-top: 20px;
}

.sub-inspiration-image{
    height: auto;
    display: flex;
    margin-top: 10px;
    >.image-description{
        width: 50%;
        font-size: 14px;
        color: #585858;
        margin-top: 0px;
        display: table;
        .mini-title{
            font-size: 28px;
            font-weight: 700;
            color: #080C0A;
            display: table-cell;
            vertical-align: middle;
            padding-left: 80px;
            .mini-detail{
                font-size: 18px;
                margin-top: 30px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }

}
.image-and-text{
    height: auto;
    display: flex;
    margin-top: 10px;
    >.image-description{
        width: 50%;
        font-size: 14px;

}
}

.no-subtitle{
    height: auto;
    display: flex;
    margin-top: 30px;
    >.image-description{
        width: 50%;
        font-size: 14px;
        color: #585858;
        margin-top: 0px;
    }

}
.inspiration-netflix{
    font-size: 14px;
    color: #585858;

}
.image-description{
    width: 50%;
    font-size: 14px;
    color: #585858;
    margin-top: 20px;
}


.inspiration-netflix{
    font-size: 13px;
    display: block;
    margin-top: 10px;
}

.inspiration-link{
    display: block;
    font-size: 13px;
    margin-top: 3px;
    >a {
        color: var(--linkcolor);
    }

}

.content1{
    margin-top: 20px;
}

.description-image{
    border: 2px solid #080C0A;
    margin-top: 50px;
}
.description-detail{
    margin-top: 10px;
    font-size: 15px;
}

.just-image{
    margin-top: 35px;
}
.arrow-box{
    display: flex;
    justify-content: center;
}
.arrow{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 20px;
    height: auto;
}

.image-block{
    
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    >.image-three {
        width: 32.3%;
        display: block;
        
        height: auto;
    }
    

}
.description-detail-mini{
    font-size: 13px;
    color: #080C0A;
    margin-top: 5px;
    line-height: 18px;
}

.orangeBoldText{
    color: #F9714B;
}

.playthum{
    display: flex;
    height: auto;
    .playthum-left{
        padding-right: 10px;
        .playthum-under{
            margin-bottom: 20px;
        }
        
    }
    .playthum-right{
        padding-left: 10px;
        .playthum-under{
            margin-bottom: 20px;
        }
    }
}
.about-content{
    padding: 35px;
}
.about-detail{
    display: flex;
    height: auto;
    .about-detail-left{
        width: 55%;
        margin-right: 15px;
        position: relative;
        .detail-focus{
            margin-top: 25px;
            width: 60%;
        }
    }
    .about-detail-right{
        width: 45%;
        padding-left: 15px;
    }
    .about-detail-right-mobile{
        display: none;
    }
}
.about-title{
    font-weight: 700;
    margin-bottom: 8px;
    color: #080C0A;
    font-size: 16px;
}
.about-detail-description{
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
}
.about-outside{
    display: flex;
    position: absolute;
    bottom: 0;
    padding-right: 30px;
    .outside-detail{
        padding-right: 45px;
        display: flex;
        font-size: 20px;
        .arrow-down{
            width: 25px;
            height: 25px;
        }
    }   
}
.about-outside a:hover{
    img{
    transform: rotate(-90deg);
    transition: 0.5s;
    }
    .outside-detail{
        font-weight: 700;
        transition: 0.1s;
    }
}
.about-cv{
    height: auto;
    margin-top: 70px;
}

.cv-line{
    text-align: left;
    width: 100%;
    .cv-bold{
        font-weight: 700;
        padding-right: 20px;
    }
    td{
        font-size: 16px;
        line-height: 25px;
    }
    .cv-space{
        padding-right: 20px;
    }
    .cv-blanck{
        height: 20px;
        width: 100%;
        background-color: #fff;
    }
}

.about-nonwork{
    margin-top: 70px;
}

.nonwork-img-group{
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    .nonwork-img{
        width: 30%;
        height: auto;
    
    }
}
.cv-line-mobile{
    display: none;
}
.mimicle-app{
    display: flex;
    width: 50%;
    height: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    .mimicle-app-tail{
        padding-right: 25px;
        justify-content: end;
    }

}

@media screen and (max-width: 1500px){
    .sub-inspiration-image{
        >.image-description{
            .mini-title{
                font-size: 20px;
                padding-left: 40px;
                .mini-detail{
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
        }
    
    }
    
    .about-title{
        font-size: 13px;
    }
    .about-detail-description{
        font-size: 13px;
        line-height: 17px;
    }
    .cv-line{
        td{
            font-size: 13px;
            line-height: 18px;
        }
    }
    .about-outside{
        .outside-detail{
            padding-right: 20px;
            font-size: 15px;
            .arrow-down{
                width: 21px;
                height: 21px;
            }
        }   
    }
    .about-detail{
        .about-detail-left{
            .detail-focus{
                width: 100%;
            }
        }
    }

}
@media screen and (max-width: 1000px){
    header{display: none;}
    content{
        width: 100%;
        margin-top: 57px;
    }
    navtop{
        display: inline;
    }
    .mobile-header{
        width: 100%;
        height: 57px;
        line-height: 1;
    }
    .sub-inspiration-image{
        >.image-description{
            .mini-title{
                font-size: 20px;
                padding-left: 30px;
                .mini-detail{
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
        }
    
    }
}

@media screen and (max-width: 740px){
    .img{
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: crisp-edges;
        transform: translateZ(0);
        backface-visibility: hidden;
    }
    header{display: none;}
    content{
        width: 100%;
    }
            
    nav{
        font-size: 14px;
    }
    navtop{
        display: inline;
    }
    .mobile-header{
        width: 100%;
        height: 57px;
        line-height: 1;
    }
    nav ul li{
        padding-left: 14px;
    }
    content .contents{
        max-width: 100%;
        margin-top: 20px;
    }
    content .flexbox{
        flex-direction: column;
        margin-top: 20px;
    }
    content .item{
        font-size: 13px;
        min-height: auto;
        flex-basis: auto;
        flex-grow: 1;
        > .projectname{
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 6px;
        }
        > .department{
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 8px;
        }
        > .date{
            font-size: 14px;
            color: var(--subcolor);
            margin-bottom: 10px;
        }
        > .Achievement{
            font-size: 14px;
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }
    *{
        .subtitle{
            font-size: 15px;    
        }
        .inspiration-netflix{
            display: block;
            font-size: 11px;
        }
        .mini-subtitle{
            font-size: 15px;
        }
        .inspiration-link{
            font-size: 10px;
        }
    }
    *{
        .subtitle{
            font-size: 15px;
        }
        .description-detail{
            font-size: 13px;
        }
    }
    
    .sub-inspiration-image{
        .image-description{
            .mini-title{
                font-size: 16px;
                padding-left: 20px;
                .mini-detail{
                    font-size: 13px;
                    margin-top: 20px;
                    line-height: 18px;
                }
            }
        }
    
    }

    .about-detail{
        display: flex;
        flex-direction: column;
        height: auto;
        .about-detail-left{
            width: 100%;
            position: relative;
            .detail-background{
                margin-top: 30px;
            }
            .detail-focus{
                margin-top: 20px;
                width: 100%;
            }
        }
        .about-detail-right{
            padding: 0;
            width: 100%;
            display: none;
        }
        .about-detail-right-mobile{
            display: block;
            width: 100%;
            padding: 0;
            height: auto;
        }
    }

    .about-title{
        font-size: 11px;
    }
    .about-detail-description{
        font-size: 11px;
        line-height: 15px;
    }
    .about-outside{
        position: relative;
        margin-top: 40px;
        .outside-detail{
            padding-right: 12px;
            font-size: 13px;
            .arrow-down{
                width: 17px;
                height: 17px;
            }
        }   
    }
    .about-detail{
        .about-detail-left{
            .detail-focus{
                width: 100%;
            }
        }
    }
    .nonwork-img-group{
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 0;
        .nonwork-img{
            margin-top: 15px;
            width: 100%;
            height: auto;
        
        }
    }
    .about-cv{
        margin-top: 40px;
    }
    .cv-line{display: none;}
    .cv-line-mobile{
        display: block;
        height: auto;
        width: 100%;

        .cv-bold-t{
            font-weight: 700;
            line-height: 40px;
        }
        .cv-bold{
            font-weight: 700;
        }
        td{
            font-size: 11px;
            line-height: 15px;
        }
        .cv-space{
            padding-right: 30px;
        }
        .cv-blanck{
            height: 20px;
            width: 100%;
            background-color: #fff;
        }
    }
    .mimicle-app{
        width: 70%;
        margin-top: 20px;
        .mimicle-app-tail{
            padding-right: 15px;
        }
    }
    
}