:root{
    --maincolor: #080C0A;
    --subcolor: #585858;
    --linkcolor: #B4B4B4;
    --green: #3FD964;
    --bggrey: #F6F6F6;
    --darknavy: #04136A;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body{
    cursor: none;
}
///NEW
.new_body{
    overflow: auto;
    width: 100%;
    min-height: 100vh; 
    animation: screenChange 1s;
}
a:hover{
    cursor: none;
}

#mouse-cursor{
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    transform: translate(-100%, -100%, 0);
    pointer-events: none;
    z-index: 999;
}

#mouse-cursor > div{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--green);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    --cursor-scale: 1;
    transform: scale3d(var(--cursor-scale), var(--cursor-scale), 1);
    will-change: transform;
    transition: transform 150ms ease-in-out,
                background-color 150ms ease-in-out;

}

#mouse-cursor >div::after{
    content: attr(data-name);
    position: absolute;
    color: var(--maincolor);
    transform: scale(0.45);
    white-space: nowrap;
    backface-visibility: hidden;
}

.pre-loader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 1;
}

.loader{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loader-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 400px;
    z-index: 2;
    color: #fff;
}

.count{
    flex: 2;
    text-align: right;
    line-height: 1;
    padding: 0 1em;
}
.copy{
    flex: 6;
    font-size: 30px;
    line-height: 1;
}
.ml16{
    overflow: hidden;
}
.ml16 .letter{
    display: inline-block;
    line-height: 1em;
}
.loader-bg{
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--green);
    z-index: -1;
}

.new_main_box{
    width: 100%;
    padding: 48px 48px 100px;
    display: flex;
    height:fit-content;
}
.new_header{
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgb(255, 255, 255, 50%);
    backdrop-filter: blur(5px);
    z-index: 10;
}
.logo_link{
    padding: 10px;
}
.header_left{
    padding: 16px 48px 16px;
    width: 50%;
}
.new_main_title{
    font-size: 3.6rem;
    padding-top: 12%;
    >.title_detail{
        font-size: 1rem;
        padding: 35% 0 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }
    >.title_detail_right{
        font-size: 1rem;
        padding: 10px 0 0;
        display: flex;
    }
}
.greyline{
    border: solid 0.5px var(--linkcolor);
    margin-top: 4px;
    transition: transform 0.3s ease;
}
.new_main_title{
    >.text_hover{
        transition: 0.3s ease;
        border-bottom: 2px solid transparent;
    }
    >.text_hover:hover{
        border-bottom: 2px solid var(--green);
    }
}
.header_right{
    padding: 16px 48px 16px;
    width: 50%;
}
.new_catrgory_footer{
    position: absolute;
    bottom: 30px;
    padding: 60px 0 0 0;
    width: 100%;
    position: fixed;
    display: flex;
}
.new_title{
    overflow: auto;
    position: relative;
    padding: 300px 48px 40px;
}
.new_title_badge_group{
    display: flex;
}
.new_badge{
    font-size: 1rem;
    padding: 8px 16px;
    color: var(--bggrey);
    background-color: var(--darknavy);
    width: fit-content;
    border-radius: 20px;
    margin-right: 14px;
    border-color: var(--linkcolor);
}
.new_title_badge{
    font-size: 1rem;
    padding: 8px 16px;
    background-color: var(--green);
    width: fit-content;
    border-radius: 20px;
}
.new_title_main{
    font-size: 4.5rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}
.new_title_detail{
    font-size: 1.75rem;
    color: var(--subcolor);
}
.new_mainimg{
    width: 100%;
    position: inherit;
}
.summary_box{
    padding: 48px 48px 100px;
    display: flex;
    height:fit-content;
    >.summary_detail{
        width: 40%;
        margin-right: 5%;
        margin-left: 5%;
        position: relative;
        >.summary_whatidid{
            top: 0;
            font-weight: 300;
            font-size: 1.6rem;
            padding: 10px 0 40px;
            line-height: 1.3;
        }
        >.summary_badge{
            position: absolute;
            padding-bottom: 5px;
            bottom: 0;
            display: flex;
        }
        
    }
    >.summary_detail_right{
        width: 40%;
        margin-right: 5%;
        margin-left: 5%;

    }

}
.summary_box_main{
    padding: 48px 48px 100px;
    height: fit-content;
}
.summary_box_contents{
    padding: 2rem 8rem 4rem;
    height: fit-content;
}
.image-total-box{
    padding-top: 8%;
}
.final-img-box{
    padding-top: 4%;
}
.final-img-bg{
    width: 100%;
    background-color: var(--bggrey);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}
.final-img{
    width: 80%;
    position: relative; /* 위치 기준 설정 */
    display: block;
    padding: 80px 80px 0;
    transition: opacity 0.5s ease;
}
.final-img-center{
    width: 20%;
    position: relative; /* 위치 기준 설정 */
    display: block;
    padding: 50px 100px;
    transition: opacity 0.5s ease;
}
.final-img-middle-big{
    width: 80%;
    position: relative; /* 위치 기준 설정 */
    display: block;
    padding: 30px 0px;
    transition: opacity 0.5s ease;
}
.half-rec-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.half-rectangle-box{
    padding-top: 6%;
    width: 48%;
}
.half-rec-bg{
    width: 100%;
    background-color: var(--bggrey);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}
.half-rec-img-bottom{
    width: 80%;
    position: relative; /* 위치 기준 설정 */
    display: block;
    padding: 40px 80px 0;
    transition: transform 0.5s ease;
    transform: scale(1.2);
}
.half-rec-img-top{
    width: 80%;
    position: relative; /* 위치 기준 설정 */
    display: block;
    padding: 0 80px 40px;
    transition: transform 0.5s ease;
    transform: scale(1.2);
}
.half-rec-img-middle{
    width: 80%;
    position: relative; /* 위치 기준 설정 */
    display: block;
    padding: 60px 120px;
    transition: opacity 0.5s ease;
}
.final-img-middle{
    width: 80%;
    position: relative; /* 위치 기준 설정 */
    display: block;
    padding: 60px;
}
.image-box {
    width: 100%;
}
.list_indi{
    transition: 0.3s ease;
}
.list_indi:hover{
    transform: translateX(10px);
    color: var(--green);
}
.one_image {
    width: 100%;
    border-radius: 15px;
    position: relative; /* 위치 기준 설정 */
    display: block;
}

.arrow_right_box {
    position: absolute;
    opacity: 0;
    top: 40px;
    right: 20px; /* `.one_image` 내부의 위치 조정 */
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40;
    height: 40px;
    padding: 20px;
    border-radius: 50%;
    transition: all 0.3s;
}

.flex_box{
    display: flex;
    align-items: center;
    >.small_icon{
        width: 20px;
        height: 20px;
        padding-left: 10px;
        transform: translateY(8px);
    }
}
.image-box:hover .arrow_right_box {
    opacity: 1;
    right: 60px;
}
.image-box:hover{
    transform: scale(1.01);
    transition: 0.5s ease-in-out;
}
.summary_detail:hover .half_img_two_click{
    transform: scale(1.01);
    transition: 0.5s ease-in-out;
}

.main_content_txt_gey{
    color: var(--linkcolor);
}
.content_box{
    padding: 48px 48px 300px;
}
.badge_list{
    display: flex;
    border: solid 1px var(--linkcolor);
    padding: 8px 16px;
    margin-right: 14px;
    border-radius: 30px;
    >.badge_text{
        font-size: 1rem;
    }
    >.arrow_right_up{
        width: 1.2rem;
        height: 1.2rem;
        padding-left: 3px;
    }
}
.summary_list_grey{
    font-size: 1rem;
    color: var(--linkcolor);
    padding: 10px 0 0;
}
.focus-title-black{
    font-size: 1rem;
    color: var(--maincolor);
    padding: 10px 0 0;
}
.focus-title-grey{
    font-size: 1rem;
    font-size: 1rem;
    padding: 8px 0 10px;
    line-height: 1.3;
    color: var(--linkcolor);
}
.list_small_grey{
    font-size: 1rem;
    padding: 12px 0 12px;
    line-height: 1.4;
    font-weight: 300;
    color: var(--subcolor);
}
.list_small_black{
    font-size: 1rem;
    padding: 12px 0 0;
}
.list_small_black_hover{
    font-size: 1rem;
    padding: 12px 0 0;
    transition: 0.3s ease;
}
.list_small_black_hover:hover{
    transform: translateX(10px);
    color: var(--green);
}
.summary_list_black{
    font-size: 1rem;
    padding: 8px 0 10px;
    line-height: 1.3;
    >.black_list_more{
        padding: 4px 0 0;
    }
}
.summary_list_green{
    font-size: 0.9rem;
    padding: 60px 0 8px;
    color: var(--green);
}
.impact_list_big{
    font-size: 4rem;
    padding: 16px 0 6px;
}
.impact_list_small{
    font-size: 1rem;
    padding: 6px 0 16px;
    line-height: 1.4;
    font-weight: 300;
}
.impact_list_green{
    font-size: 1rem;
    padding: 6px 0 6px;
    color: var(--green);
    font-weight: 300;
}

.summary_list_big{
    font-size: 4rem;
    padding: 10px 0 4px;
}
.summary_list_small{
    font-size: 1rem;
    padding: 4px 0 10PX;
}
.new_final_image{
    padding: 100px 72px 200px;
    >.one_image{
        width: 100%;
        position: inherit;
    }
}

.half_img_two{
        width: 100%;
        position: inherit;
        border-radius: 15px;
}
.half_img_two_click{
    width: 100%;
    position: inherit;
    border-radius: 15px;
}
.title_detail_box{
    display: flex;
    padding: 10px 0 0;
    width: 100%;
    >.title_detail_left{
        width: 50%;
    }
    >.title_detail_right{
        display: flex;
        width: 50%;
    }
}
.final-img-txt-box{
    display: flex;
    padding: 10px 0 0;
    width: 100%;
    margin-top: 20px;
}
.final-img-profile-box{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.final-img-profile-box img{
    width: 80px;
    height: auto;
}
.final-profile-txt{
    font-size: 1.2rem;
    color: var(--linkcolor);
    line-height: 1.3;
    margin-top: 10px;
    text-align: center;
    font-weight: 300;
    width: 60%;
}
.final-img-txt-left{
    font-size: 1.6rem;
    line-height: 1.3;
}
.final-img-txt-right{
    font-size: 1rem;
    line-height: 1.3;
}
.hidden-text{
    color: var(--linkcolor);
    font-size: 1rem;
    margin-bottom: 20px;
    transform: translateY(-10px);
    transition: opacity 0.3s ease max-height 0.3s ease transform 0.3s ease;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    line-height: 1.3;
}
.hidden-text.visible{
    opacity: 1;
    max-height: 200px;
    transform: translateY(0);
}
.flex + .hidden-text.visible + .greyline {
    transform: translateY(10px); /* Move the line down by 10px */
}
.title_big{
    font-size: 3rem;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    font-weight: 400;
}
.title_big_new{
    font-size: 4rem;
    font-weight: 400;
}
.detail_medium{
    font-size: 1rem;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    line-height: 1.4;
    font-weight: 300;
}
.right_group{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.detail_small_grey{
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 300;
    color: var(--subcolor);
}
.detail_small_grey_hover{
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 300;
    color: var(--subcolor);
    transition: 0.3s ease;
}
.detail_small_grey_hover:hover{
    transform: translateX(10px);
    color: var(--green);
}
.title_medium_group{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300;
}
.title_medium_black{
    font-size: 2rem;
    font-weight: 400;
}
.current-number{
    color: var(--green);
}
.process-detail{
    position: inherit;
    >.process_black{
        font-size: 1rem;
        line-height: 1.3;
    }
    >.process_grey{
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.3;
        padding-top: 8px;
        color: var(--subcolor);
    }
}
.title_medium_grey{
    color: var(--linkcolor);
    font-size: 2rem;
    padding: 4px 0 0;
}
.title_small_black{
    font-size: 1.5rem;
}
.metric_detail_text{
    color: var(--maincolor);
    font-size: 1rem;
    line-height: 1.3;
    padding: 10px 0 10px;
    font-weight: 300;
}
.title_small_grey{
    color: var(--linkcolor);
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 4px 0 0;
}
.project_goal_text{
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px 0 20px;
    line-height: 1.3;
    color: var(--maincolor);
}
.blank_box20{
    width: 100%;
    padding: 20px 0 0;
}
.blank_box15{
    display: none;
    width: 100%;
    padding: 15px 0 0;
}
.blank_box60{
    width: 100%;
    padding: 60px 0 0;
}
.blank_box300{
    width: 100%;
    padding: 300px 0 0;
}
.blank_box200{
    width: 100%;
    padding: 300px 0 0;
}
.blank_box150{
    width: 150%;
    padding: 100px 0 0;
}
.blank_box100{
    width: 100%;
    padding: 100px 0 0;
}
.blank_box150{
    display: none;
    width: 100%;
    padding: 150px 0 0;
}
.blank_box180{
    display: none;
    width: 100%;
    padding: 180px 0 0;
}
.footer{
    padding: 60px 48px;
    background-color: var(--bggrey);
}
.footer_box{
    display: flex;
    >.right_group{
        >.header_left{
            padding-left: 0;
            >.new_header_logo{
                width: 50px;
                height: 50px;
            }
        }
        .medium_big_black{
            font-size: 3rem;
            padding: 0 0 40px;
        }
    }
}
.medium_big_black{
    font-size: 3rem;
    padding: 0 0 40px;
    >.category_list{
        font-size: 3.5rem;
    }
}
.menu_list{
    display: flex;
    >.halfhalf{
        width: 50%;
    }
}
.list_small_grey_right{
    text-align: right;
    font-size: 1rem;
    color: var(--linkcolor);
    padding: 12px 0;
}
.category_list{
    padding: 60px 0 0 20px;
    list-style: none;
    >.list_indi{
        padding: 8px 0 0;
    }
}
.about_box{
    display: flex;
    padding-top: 200px;
    justify-content: space-between;
    >.about_detail_left{
        width: 30%;
        >.title_big{
            padding: 0;
            margin: 0;
            font-size: 4rem;
        }
    }
    >.about_detail_right{
        padding-top: 20px;
        width: 50%;
        >.profileimg{
            width: 100%;
            position: inherit;
            border-radius: 15px;
            margin-top: 60px;
        }
        >.about_detail{
            font-size: 1.6rem;
            font-weight: 300;
        }
        >.flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
            >.summary_list_black{
                font-size: 1.6rem;
                padding-bottom: 8px;
            }
            >.plusicon{
                width: 1.4rem;
                height: 1.4rem;
                padding: 10px;
                transition: transform 0.3s ease;
            }
            >.plusicon.rotated{
                transform: rotate(45deg);
            }
        }
        >.summary_list_grey{
            font-size: 1.6rem;
            padding-top: 0;
            padding-bottom: 20px;
        }
        >.first{
            >.play_1{
                width: 100%;
                position: inherit;
                border-radius: 15px;
            }
        }
        >.medium_big_black{
            font-size: 4rem;
        }
    }
}
.badge_resume{
    font-size: 1rem;
    padding: 18px 24px;
    color: var(--maincolor);
    background-color: var(--green);
    width: fit-content;
    border-radius: 35px;
    display: flex;
    align-items: center;
}
.badge_resume_trans{
    font-size: 1rem;
    padding: 18px 24px;
    color: var(--maincolor);
    background-color: rgb(255, 255, 255, 50%);
    width: fit-content;
    border-radius: 35px;
    display: flex;
    align-items: center;
    border: solid var(--linkcolor) 1px;
    backdrop-filter: blur(5px);
}
.adge_resume_trans{
    filter: brightness(0.7);
    transition: 0.7s;
}
.badge_resume:hover{
    filter: brightness(0.7);
    transition: 0.7s;
}

///play-css//
/// /// /// 

.playheader {
    position: fixed; /* or fixed */
    top: 0; /* 고정된 위치에서 상단에 위치 */
    width: 100%;
    padding: 20px 4%;  /* 패딩 값 수정 */
    z-index: 10; /* 다른 요소들 위에 표시되도록 */
    background-color: rgb(255, 255, 255, 50%);
    backdrop-filter: blur(5px);   
}

.gallery {
    position: relative;
    width: 100%;
    display: flex;
    padding: 2% 8%;
}

.minimap {
    position: sticky;
    top: 0;
    width: 10%;
    height: 100vh;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newplay-images {
    position: relative;
    top: 0;
    width: 100%;
}

.newplay-img {
    position: relative;
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: 300px auto;
}

.newPlay-img-each {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.image-description {
    margin-top: 10px;
    font-size: 1rem; 
    color: var(--maincolor); 
}

.img-thumbnail {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.5;
}


a{
    text-decoration: none;
}

// content{
//     animation: screenChange 1s;
// }
// @keyframes screenChange{
//     from{
//         transform: translateY(1%);
//         opacity: 0%;
//     }
//     to{
//         transform: translateY(0%);
//         opacity: 100%;
//     }
// }

body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    
}


@media screen and (max-width: 1500px){
    .blank_box100{
        display: none;
    }

}
@media screen and (max-width: 1400px){

    .one_image {
        width: 70%;
    }
    
    .arrow_right_box {
        position: absolute;
        opacity: 0;
        top: 40px;
        right: 40%; /* `.one_image` 내부의 위치 조정 */
        background-color: var(--green);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 20px;
        border-radius: 50%;
        transition: all 0.3s;
    }
    .image-box:hover .arrow_right_box {
        opacity: 1;
        right: 35%;
    }
    .image-box:hover{
        transform: scale(1.01);
        transition: 0.5s ease;
    }
    
    .image-total-box.second {
        margin-left: auto;
        margin-right: 0;
        transform: translateX(30%);
    }
    

    .summary_box_contents{
        padding: 48px 60px;
        height: fit-content;
    }

    .blank_box100{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .summary_box_main{
        >.new_main_title{
            font-size: 3rem;
            >.title_detail{
                padding-top: 400px;
            }
        }
    }
    .project_goal_text{
        font-size: 1.2rem;
    }
    .summary_box_contents{
        padding: 48px 48px 16px;
        >.head_title{
            >.title_category{
                font-size: 2.6rem;
            }
            >.title_date{
                font-size: 2.6rem;
            }
        }
    }
    .summary_box{
        >.summary_detail{
            >.summary_whatidid{
                font-size: 1.3rem;
                line-height: 1.3;
                padding-top: 10px;

            }
        }
    }
    .medium_big_black{
        font-size: 2rem;
        >.category_list{
            font-size: 3.5rem;
        }
    }
    .blank_box100{
        display: none;
    }
    .blank_box200{
        display: none;
    }
    .blank_box180{
        display: block;
    }
    .arrow_right_box {
        top: 30px;
        right: 40%; /* `.one_image` 내부의 위치 조정 */
        width: 20px;
        height: 20px;
        padding: 20px;
    }
    .image-box:hover .arrow_right_box {
        opacity: 1;
        right: 35%;
    }
}
@media screen and (max-width: 810px){
    .new_main_title{
        font-size: 2.6rem;
        padding-top: 12%;
        >.title_detail{
            font-size: 1rem;
            padding: 50% 0 10px;
        }
    }
    .main_content_img{
        >.one_image{
            width: 100%;
            position: inherit;
            border-radius: 15px;
        }    
    }
    .summary_box_contents{
        padding: 48px 60px;
        height: fit-content;
    }
    .main_content_img_2{
        >.one_image{
            width: 100%;
            position: inherit;
            border-radius: 15px;
        }
        >.main_content_txt_2{
            width: 100%;
            float: right;
            padding-bottom: 5%;
        }     
    }
    .greyline{
        border: solid 0.3px var(--linkcolor);
    }
    .blank_box180{
        display: block;
    }
    .about_box{
        display: flex;
        padding-top: 150px;
        >.about_detail_left{
            >.title_big{
                font-size: 2.6rem;
            }
            >.title_medium_black{
                font-size: 1.6rem;
            }
        }
        >.about_detail_right{
            >.about_detail{
                font-size: 1rem;
            }
            >.flex{
                >.summary_list_black{
                    font-size: 1.4rem;
                }
                >.plusicon{
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
            >.summary_list_grey{
                font-size: 1.4rem;
            }
            >.medium_big_black{
                font-size: 2.6rem;
            }
        }
    }
}
@media screen and (max-width: 740px){
    .content_box{
        padding: 48px 48px 200px;
    }
    .header_left{
        padding: 16px 48px 16px;
        width: 50%;
    }
    .header_right{
        padding: 16px 48px 16px;
        width: 50%;
        >.medium_big_black{
            padding-right: 100px;
        }
    }
    .title_detail_box{
        >.title_detail_left{
            width: 50%;
        }
        >.title_detail_right{
            margin-top: -20px;
            width: 100%;
            position: relative;
        }
    }
    .new_title_main{
        font-size: 3.5rem;
    }
    .new_title_detail{
        font-size: 1.3rem;
    }
    .summary_box{
        flex-direction: column;
        >.summary_detail{
            width: 90%;
            >.summary_whatidid{
                font-size: 1.2rem;
            }
            >.summary_badge{
                position: static;
                padding-bottom: 20px;

            }
            
        }
        >.summary_detail_right{
            width: 90%;
    
        }
    
    }
    .one_image {
        width: 100%;
    }
    .summary_box{
        padding: 48px 48px 100px;
        height: auto;
        position: relative;
    
    }
    .arrow_right_box {
        top: 30px;
        right: 45px; /* `.one_image` 내부의 위치 조정 */
        width: 20px;
        height: 20px;
        padding: 20px;
    }
    .image-box:hover .arrow_right_box {
        opacity: 1;
        right: 35px;
    }
    .image-box:hover{
        transform: scale(1.01);
        transition: 0.5s ease;
    }
    .image-total-box.second {
        margin-left: auto;
        margin-right: 0;
        transform: translateX(0); 
    }
    
    .summary_box_main{
        padding: 48px 48px 16px;
        >.new_main_title{
            font-size: 2.6rem;
            >.title_detail{
                padding-top: 300px;
                >.greyline{
                    font-size: 0.7rem;
                }
            }
        }
    }
    .medium_big_black{
        font-size: 2rem;
        >.category_list{
            font-size: 2.5rem;
        }
    }
    .title_detail_box{
        display: block;
        width: 100%;
        >.title_medium_group{
            width: 100%;
            >.title_medium_black{
                width: 100%;
                margin: 0;
            }
            >.title_big_new{
                font-size: 3rem;
            }
        }
        >.right_group{
            width: 90%;
            padding-top: 20px;
            >.summary_detail{
                width: 100%;
                >.blank_box100{
                    display: block;
                }
            }
        }
    }
    .detail_medium{
        width: 90%;
        padding-top: 20px;
    }
    .summary_box_contents{
        padding: 48px 48px 16px;
        >.head_title{
            >.title_category{
                font-size: 2rem;
            }
            >.title_date{
                font-size: 2rem;
            }
        }
    }
    .about_box{
        display: block;
        padding-top: 100px;
        >.about_detail_left{
            width: 100%;
            >.title_big{
                font-size: 2rem;
            }
            >.title_medium_black{
                font-size: 1.4rem;
                font-weight: 300;
            }
        }
        >.about_detail_right{
            width: 100%;
            >.about_detail{
                font-size: 1.4rem;
            }
            >.flex{
                >.summary_list_black{
                    font-size: 1.4rem;
                }
                >.plusicon{
                    width: 1rem;
                    height: 1rem;
                }
            }
            >.summary_list_green{
                font-size: 1rem;
            }
            >.summary_list_grey{
                font-size: 1.4rem;
            }
            >.medium_big_black{
                font-size: 2.5rem;
                padding-top: 20px;
            }
            >.first{
                >.play_1{
                    margin-top: 20px;
                }
            }
        }
    }
    .final-img-txt-left{
        font-size: 1.3rem;
    }

    .half-rec-img-middle{
        width: 50%;
        padding: 60px 120px;
        transition: opacity 0.5s ease;
    }
    .final-profile-txt{
        font-size: 1rem;
        color: var(--linkcolor);
    }
    .final-img{
        width: 80%;
        padding: 40px 40px 0;
        transition: opacity 0.5s ease;
    }

    .blank_box200{
        display: none;
    }
    .blank_box300{
        display: none;
    }
    .blank_box100{
        display: block;
    }
    .blank_box150{
        display: block;
    }
    .footer{
        >.footer_box{
            >.right_group{
                >.medium_big_black{
                    font-size: 2.4rem;

                }
                >.header_left{
                    padding: 20px 20px;
                }
                >.menu_list{
                    font-size: 1.2rem;
                }
                >.list_small_grey{
                    font-size: 1rem;
                }
                >.list_small_grey_right{
                    font-size: 1rem;
                }
            }
        }
    }
    .badge_resume{
        font-size: 1rem;
    }
    .downloadicon{
        width: 20px;
        height: 20px;
    }
    
}
@media screen and (max-width: 400px){
    #mouse-cursor{
        display: none;
    }
    .header_left{
        padding: 16px 24px 16px;
        width: 50%;
    }
    .header_right{
        padding: 16px 24px 16px;
        width: 50%;
    }
    .new_title{
        padding: 200px 24px 40px;
    }
    .summary_box{
        padding: 48px 24px 48px;
    }
    .content_box{
        padding: 48px 24px 100px;
    }
    .new_final_image{
        padding: 48px 24px 48px;
    }
    .summary_box_main{
        padding: 48px 24px 16px;
        >.new_main_title{
            font-size: 2rem;
            >.title_detail{
                padding: 38% 0 10px;
                >.greyline{
                    font-size: 0.8rem;
                }
            }
        }
    }
    .title_medium_black{
        font-size: 1.6rem;
    }
    .title_medium_grey{
        font-size: 1.6rem;
    }
    .newplay-img {
        width: 80%;
        margin: 100px auto;
    }
    .badge_resume_trans{
        padding: 18px 18px;
    }
    .image-description {
        margin-top: 8px;
    }
    .playheader{
        .downloadicon{
            width: 24px;
            height: 24px;
        }
    }
    .title_detail_box{
        >.title_medium_group{
            .title_small_black{
                font-size: 1.2rem;
            }
        }
        >.right_group{
            >.detail_small_grey{
                font-size: 0.9rem;
            }
        }
        >.title_detail_left{
            width: 100%;
            >.detail_small_grey{
                font-size: 0.8rem;
            }
        }
        >.title_detail_right{
            display: none;
        }
    }
    .final-img-profile-box img{
        width: 50px;
    }
    .final-profile-txt{
        font-size: 0.9rem;
        width: 80%;
    }
    .final-img-txt-box{
        display: block;
        >.title_medium_group{
            width: 95%;
            >.final-img-txt-left{
                font-size: 1.2rem;
            }
        }
        >.right_group{
            width: 95%;
            margin-top: 10px;
            >.final-img-txt-right{
                font-size: 1rem;
            }
        }
    }
    .summary_box_contents{
        padding: 24px 24px 16px;
        >.head_title{
            margin: 10px 0;
            >.title_category{
                font-size: 1.4rem;
            }
            >.title_date{
                font-size: 1.4rem;
            }
        }
    }
    .main_content_txt_black{
        font-size: 0.9rem;
    }
    .about_box{
        display: block;
        padding-top: 100px;
        >.about_detail_left{
            >.title_big{
                font-size: 1.8rem;
            }
            >.title_medium_black{
                font-size: 1rem;
            }
        }
        >.about_detail_right{
            >.about_detail{
                font-size: 1rem;
            }
            >.flex{
                >.summary_list_black{
                    font-size: 1rem;
                }
                >.plusicon{
                    width: 0.8rem;
                    height: 0.8rem;
                }
            }
            >.summary_list_green{
                font-size: 0.8rem;
            }
            >.summary_list_grey{
                font-size: 1rem;
            }
            >.medium_big_black{
                font-size: 1.2rem;
                padding-bottom: 8px;
            }
        }
    }
    .blank_box300{
        display: none;
    }
    .blank_box180{
        display: none;
    }
    .blank_box60{
        display: none;
    }
    .blank_box15{
        display: block;
    }
    .greyline{
        border: solid 0.3px var(--linkcolor);
    }
    .footer{
        padding: 24px 24px 16px;
        background-color: var(--bggrey);
        >.footer_box{
            >.right_group{
                >.medium_big_black{
                    font-size: 1.6rem;

                }
                >.header_left{
                    padding: 16px 16px;
                }
                >.menu_list{
                    font-size: 0.8rem;
                }
                >.list_small_grey{
                    font-size: 0.8rem;
                }
                >.list_small_grey_right{
                    font-size: 0.8rem;
                }
            }
        }
    }
    .badge_resume{
        font-size: 0.8rem;
        padding: 18px 24px;
    }
    .downloadicon{
        width: 18px;
        height: 18px;
    }
}






// old css

header{
    width: 20%;
    min-width: 260px;
    height: 100vh;
    border-right: 2px solid #080C0A;
    border-top: 2px solid #080C0A;
    border-bottom: 2px solid #080C0A;
    position: sticky;
    top: 0px;
    
}

.title_introduction{
    font-size: 64px;
    margin-bottom: 450px;
}
.title_detail{
    display: flex;
}
p.greyline{
    border-color: var(--linkcolor);
    border-style: solid;
    border-width: 1.5px;
    width: fit-content;
    padding: 8px 10px;
    border-radius: 30px;
    margin-right: 8px;
}
.float_right{
    margin-left: auto;
    padding-bottom: 30px;
}
.downrowicon{
    width: 20px;
    height: 20px;
    padding-left: 4px;
}
.head_title{
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
    .title_category{
        font-size: 40px;
    }
    .title_date{
        margin-left: auto;
        font-size: 40px;
        color: var(--linkcolor);
    }
}

.mainlogo{
    margin-left: 23px;
    margin-top: 23px;
    margin-bottom: 35px;
}
.sublogo{
    margin-left: 23px;
    margin-bottom: 12px;
}
.description{
    margin-left: 23px;
    margin-bottom: 30px;
    color: var(--subcolor);
}
.menu{
    display: block;
    
    margin-bottom: 18px;
    line-height: 45px;   
}
.mainmenu{
    font-weight: 700;
    color: var(--maincolor);
    font-size: 16px;
    margin-left: 23px;
    
}
.subcategory{
    font-weight: 700;
    line-height: 50px;
    list-style: none;
    display: block;
    margin-left: 23px;
    margin-bottom: 18px;
    
}
.submenu{
    color: var(--subcolor);
    line-height: 23px;
    list-style-type: none;
    font-weight: 400;
}

.mainmenu > a{
    color: var(--maincolor);
}
hr{
    border: 1px solid #080C0A;
    margin-top: 6px;
    margin-bottom: 6px;
}

content{
    width: 80%;
    padding: 23px;
    overflow-y: hidden;
    position: relative;
}

content img{
    display: block;
    width: 100%;
    height: auto;
}

.image-box{
    width: 100%;
    height: auto;
    margin: 0 auto;

}
.thumbnail{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contents{
    max-width: 100%;
    margin-top: 30px;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.item{
    min-height: auto;
    flex-basis: 200px;
    flex-grow: 1;
    > .projectname{
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 13px;
    }
    > .department{
        font-weight: 700;
        margin-bottom: 10px;
    }
    > .date{
        color: var(--subcolor);
    }
    > .Achievement{
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.myrole-description{
    margin-top: 13px;

}

.contentline{
    border: 1px solid #080C0A;
    margin-bottom: 20px;
    margin-top: 35px;
}
.contentline_grey{
    border: 1px solid var(--linkcolor);
    margin-bottom: 15px;
    margin-top: 15px;
}
navtop{
    width: 100%;
    position: fixed;
    background-color: #fff;
    height: 57px;
    z-index: 1;
    display: none;
}
nav{
    font-size: 18px;
    width: 100%
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    height: 57px;
    border-bottom: 2px solid #080C0A;
}
nav ul li{
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    padding-left: 60px;
    height: 57px;
}


.subtitle{
    font-size: 18px;
    font-weight: 700;
}

.subtitle-second{
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 35px;
}

.mini-subtitle{
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}
.inspiration-image{
    height: auto;
    display: flex;
    margin-top: 20px;
}

.sub-inspiration-image{
    height: auto;
    display: flex;
    margin-top: 10px;
    >.image-description{
        width: 50%;
        font-size: 14px;
        color: #585858;
        margin-top: 0px;
        display: table;
        .mini-title{
            font-size: 28px;
            font-weight: 700;
            color: #080C0A;
            display: table-cell;
            vertical-align: middle;
            padding-left: 80px;
            .mini-detail{
                font-size: 18px;
                margin-top: 30px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }

}
.image-and-text{
    height: auto;
    display: flex;
    margin-top: 10px;
    >.image-description{
        width: 50%;
        font-size: 14px;

}
}

.no-subtitle{
    height: auto;
    display: flex;
    margin-top: 30px;
    >.image-description{
        width: 50%;
        font-size: 14px;
        color: #585858;
        margin-top: 0px;
    }

}
.inspiration-netflix{
    font-size: 14px;
    color: #585858;

}
.image-description{
    width: 50%;
    font-size: 14px;
    color: #585858;
    margin-top: 20px;
}


.inspiration-netflix{
    font-size: 13px;
    display: block;
    margin-top: 10px;
}

.inspiration-link{
    display: block;
    font-size: 13px;
    margin-top: 3px;
    >a {
        color: var(--linkcolor);
    }

}

.content1{
    margin-top: 20px;
}

.description-image{
    border: 2px solid #080C0A;
    margin-top: 50px;
}
.description-detail{
    margin-top: 10px;
    font-size: 15px;
}

.just-image{
    margin-top: 35px;
}
.arrow-box{
    display: flex;
    justify-content: center;
}
.arrow{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 20px;
    height: auto;
}

.image-block{
    
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    >.image-three {
        width: 32.3%;
        display: block;
        
        height: auto;
    }
    

}
.description-detail-mini{
    font-size: 13px;
    color: #080C0A;
    margin-top: 5px;
    line-height: 18px;
}

.orangeBoldText{
    color: #F9714B;
}

.playthum{
    display: flex;
    height: auto;
    .playthum-left{
        padding-right: 10px;
        .playthum-under{
            margin-bottom: 20px;
        }
        
    }
    .playthum-right{
        padding-left: 10px;
        .playthum-under{
            margin-bottom: 20px;
        }
    }
}
.about-content{
    padding: 35px;
}
.about-detail{
    display: flex;
    height: auto;
    .about-detail-left{
        width: 55%;
        margin-right: 15px;
        position: relative;
        .detail-focus{
            margin-top: 25px;
            width: 60%;
        }
    }
    .about-detail-right{
        width: 45%;
        padding-left: 15px;
    }
    .about-detail-right-mobile{
        display: none;
    }
}
.about-title{
    font-weight: 700;
    margin-bottom: 8px;
    color: #080C0A;
    font-size: 16px;
}
.about-detail-description{
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
}
.about-outside{
    display: flex;
    position: absolute;
    bottom: 0;
    padding-right: 30px;
    .outside-detail{
        padding-right: 45px;
        display: flex;
        font-size: 20px;
        .arrow-down{
            width: 25px;
            height: 25px;
        }
    }   
}
.about-outside a:hover{
    img{
    transform: rotate(-90deg);
    transition: 0.5s;
    }
    .outside-detail{
        font-weight: 700;
        transition: 0.1s;
    }
}
.about-cv{
    height: auto;
    margin-top: 70px;
}

.cv-line{
    text-align: left;
    width: 100%;
    .cv-bold{
        font-weight: 700;
        padding-right: 20px;
    }
    td{
        font-size: 16px;
        line-height: 25px;
    }
    .cv-space{
        padding-right: 20px;
    }
    .cv-blanck{
        height: 20px;
        width: 100%;
        background-color: #fff;
    }
}

.about-nonwork{
    margin-top: 70px;
}

.nonwork-img-group{
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    .nonwork-img{
        width: 30%;
        height: auto;
    
    }
}
.cv-line-mobile{
    display: none;
}
.mimicle-app{
    display: flex;
    width: 50%;
    height: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    .mimicle-app-tail{
        padding-right: 25px;
        justify-content: end;
    }

}